<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" href="#"><img src="../../../assets/logo.png" width="17%" height="17%"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">


      <a routerLink="/medcin-component" routerLinkActive="active">medcin</a>
      <a routerLink="/infermier-component" routerLinkActive="active">infermier</a>
      <a routerLink="/auth-component" routerLinkActive="active">auth</a>




      <a class="nav-item nav-link active" href="#">home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">infe</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>
