<div class="container">
  <h1> Admin Pannel </h1>
  <div class="row">
    <div class="col-4" id="d1">
      <div><button type="button" class="btn btn-info">Users</button> </div>
      <div><button type="button" class="btn btn-primary">Resources</button></div>
      <div> <button type="button" class="btn btn-secondary">Patients</button></div>
    </div>

    <div class="col-4" id="d2">
      <div> <button type="button" class="btn btn-primary">dates</button></div>
      <div> <button type="button" class="btn btn-secondary">communication</button></div>
      <div> <button type="button" class="btn btn-info">Specialities</button></div>
    </div>

    <div class="col-4" id="d3">
      <div> <button type="button" class="btn btn-secondary">Roles</button></div>

    </div>

  </div>
