<app-navbar></app-navbar>
<!-- <app-auth></app-auth> -->
<!-- <app-administration></app-administration> -->
<!-- <app-autre-resource></app-autre-resource> -->
<!-- <app-communication></app-communication> -->
<!-- <app-dossier-m></app-dossier-m> -->
<!-- <app-page-not-found></app-page-not-found> -->
<!-- <app-patient></app-patient> -->
<!-- <app-practicien></app-practicien> -->
<!-- <app-rendez-vous></app-rendez-vous> -->
<!-- <app-role></app-role> -->
<!-- <app-specialite></app-specialite> -->
<!-- <app-synthese></app-synthese> -->
<!-- <app-user></app-user> -->
<!-- <app-medcin></app-medcin>
<app-infermier></app-infermier> -->
<!-- <app-receptioniste></app-receptioniste> -->
<app-formulaire></app-formulaire>
<router-outlet></router-outlet>



<app-footer></app-footer>
